# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# User-specific data files
*.csv

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/secrets.toml

# Logs
*.log
